<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/dest/tailwind.css" />
  </head>
  <body class="bg-slate-100">
    <header class="sticky top-0 z-10">
      <%- include('../partials/header'); %>
    </header>
    <section id="banner"><%- include("../partials/banner"); %></section>

    <section id="find-jobs" class="scroll-smooth">
      <%- include("../partials/findjobs"); %>
    </section>

    <section><%- include("../modals/applyModal.ejs") %></section>
    <section><%- include("../modals/learnMoreModal.ejs") %></section>

    <script src="src/js/home.js" async defer></script>
    <script src="" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script>
      console.log("Running!");
    </script>
  </body>
</html>
